
:root {
  --nav-color: white;
  --nav-height: 5rem;
  --nav-tab-bg-color: royalblue;
  --navtab-font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navbar-tabs {
  background-color: var(--nav-tab-bg-color);
  height: var(--nav-height);
  flex-direction: row;
  justify-content: space-evenly;
}

.navtab-link {
  color: var(--nav-color);
  font-size: var(--navtab-font-size);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--nav-height) / 30);
}

/* two tabs */
.navtab-link:first-child:nth-last-child(2),
.navtab-link:first-child:nth-last-child(2) ~ .navtab-link {
  width: 50%;
}
/* three tabs */
.navtab-link:first-child:nth-last-child(3),
.navtab-link:first-child:nth-last-child(3) ~ .navtab-link {
  width: 33.3333%;
}
/* four tabs */
.navtab-link:first-child:nth-last-child(4),
.navtab-link:first-child:nth-last-child(4) ~ .navtab-link {
  width: 25%;
}
/* four tabs */
.navtab-link:first-child:nth-last-child(5),
.navtab-link:first-child:nth-last-child(5) ~ .navtab-link {
  width: 20%;
}

.navtab-link:hover {
  color: var(--nav-color);
  opacity: 0.8;
}

.navtab-link.active-tab::after {
  content: '';
  background-color: var(--nav-color);
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navtab-icon {
  font-size: calc(var(--navtab-font-size) * 1.5);
}
